.navbar-brand, .nav-link{
  &:hover{
    background-color: $primary !important;
    color:$white !important;
    h1, i{
      color:$white !important;
    }
  }
}

.hero{
  height: 480px;
  background-image: url(../images/ricardo-gomez-angel-UrOZTfXT0h0-unsplash.jpg);
  &__detail{
    @include media-breakpoint-up(lg){
      transform:translateX(-22px);
    }
  }
}

.menu{
  overflow-y: hidden;
  overflow-x: auto;
  cursor: grab;

  &__item{
    margin: {
      top:14px;
      bottom:14px;
    };
    border-bottom: 1px solid transparent;
    transition: border-color .3s;
    &:hover , &.active{
      border-color: $secondary;
    }
  }
}
.hotShow{
  &__img{
    height:350px;
  }
}
.live{
  &__rectangle{
    background-color: #190014CC;
  }
}

.guess{
  &__img{
    height: 345px;
  }
}
.subscribe{
  height: 400px;
  padding-bottom: 36px;
  &__btn{
    padding-left:51px;
    padding-right:51px;
  }
}
.footer{
  padding : 16px;
  @include media-breakpoint-up(md){
      padding-left: 85px;
      padding-right: 85px;
  }

  &__title{
    font-size: 22px;
    line-height: 23px;
  }
}